# Ignore build directory
build/

# Ignore managed_components directory
managed_components/

# Ignore sdkconfig file
sdkconfig
sdkconfig.old
sdkconfig.*.bak

# Object files #
*.o
*.ko
*.obj
*.elf

# Libraries #
*.lib
*.a
*.la
*.lo
*.def
*.exe

# Shared objects (Linux) #
*.so

# Executables #
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files #
*.dSYM/
*.su
*.idb
*.pdb

# Other files #
*.log
*.tmp
